
<br><br>


<div class="container" >
  <div class="row" >
    <div class="col-md-6"  style="border: 1px solid lightgray;border-radius: 10px;margin: 5px auto">
      <h2>Parolayı Değiştir</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" ,class:"form-label"%><br />
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password" ,class:"form-control"%>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password",class:"form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Parolayı Değiştir" ,class:"btn btn-secondary mt-2"%>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>